* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: 'Barlow', sans-serif;
}

.containerByMe {
    width: 80%;
    margin: auto;
}

header {
    background-color: brown;
    padding: 10px;
}

.header-contentByMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.brand {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

li {
    display: flex;
    list-style: none;
    color: white;
}


.nava ul#links {
    display: flex;
    list-style: none;
}



.nava ul#user-pages {
    display: none;
}

.nava ul#admin-pages {
    display: none;
}

.nava li a {
    display: block;
    color: white;
    margin: 0 15px;
    font-size: 25px;
    text-decoration: none;

}

#search-btn {
    padding: 8px;
    font-size: 20px;
    border-radius: 25px;
    margin: 10px 0 10px 5px;
    size: 20px;
}

#query {
    border-radius: 25px;
    font-size: 25px;
    padding: 15px;
    width: 2000px;
    max-width: 300px;
}

.products {
    width: 60%;
    margin: 10px 0px;
}

.product-item {
    width: 100%;
    display: flex;
    border: 1px solid #ddd;
    margin-left: 40px;
}

.product-item-img {
    width: 25%;
    margin-right: 10px;
}

.product-item-actions {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item .check-out {
    display: block;
    margin-left: auto;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: 0px;
    font-size: 16px;
    cursor: pointer;
    /* font-family: ; */
}


#cartBtn {
    padding: 10px;
    background-color: brown;
    color: white;
    margin-left: auto;
    position: relative;
    transform: translate(767px, -3px);
}

#product_item {
    border: 1px solid whitesmoke;
    margin: 10px 0 10px;
}